@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400&family=Work+Sans:wght@800&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
   background:  var(--primary-color);
   font-family: 'Open sans', sans-serif;
   font-size: 1.3em;
   line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 30px;
}

 .calculadora {
  width: 400px;
 }

 .display {
  font-size: 2em;
  width: 100%;
  text-align: right;
 }

.btn {
  width: 100%;
  height: 40px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background: #949494;
}

.btn-eq {
  background: rgb(65, 161, 225);
}
.btn-eq:hover {
  background: royalblue;
}
